*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(223, 147, 200);
    font-family: "jaro",'Times New Roman', Times, serif;
    min-height: 100vh;
}
.sticky-notes{
    display:flex ;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 800px;
}

.note-container{
    position: relative;
    width: 250px;
    height: 250px;
    background-color: rgb(227, 128, 104);
    border-radius: 10px;
}

.note-content{
    padding: 15px;
    height: calc(100%-40px);
    outline: none;
}

.notes-action{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.delete-note{
    background-color: brown;
    color: aliceblue;
    padding: 10px;
    border-color: black;
    border-radius: 2px;
    cursor: pointer;
}

.create-note{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    background-color: aliceblue;
    margin-left: 25px;
    border-radius: 10px;
    font-size: 100px;
}

.create-note:hover{
    transform: scale(1.05);
}